* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html,
body {
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    min-height: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    border-bottom: 1px solid black;
    /* top | right | bottom | left */
    padding: 15px 20px 15px 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

footer {
    padding: 30px;
    background-color: black;
    margin-bottom: 0;
    /* lr negpos - updown negpos - deg of blur */
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
}

section {
    padding: 20px;
    flex: 1;
    display: block;
}

.grid {
    display: grid;
    gap: 20px;
}

.circle {
    width: 80px;
    height: 80px;
    background: #ccc;
    border-radius: 50%;
}

input,
textarea,
select,
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.page {
    display: none;
}

.active {
    display: block;
}

input,
textarea {
    border-radius: 10px;
}

.logoWebsite {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.categoryHeader {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: grey;
}

.activeCategory {
    text-shadow: white 1px 0 20px;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
}

.contactLink {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: grey;
}

#icon {
    color: #808080 !important;
    font-size: 20px;
}

#lineContact {
    margin-top: 30px;
    padding: 0.5px;
    background-color: grey;
}